.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .center {
    display: flex;
    justify-content: left;
  }

  table {
    width: 120%;
    justify-content: left;
  }
  .upeu{
    background-color: #7b1038;
  }
  