<div class="container">
  <div class="row">
    <div class="col s5">
        <div class="card">
          <div class="card-content">
            <form #tipoForm= "ngForm" (ngSubmit) = "addTipo(tipoForm)" >
                <input type="hidden" name = "ID_TIPO_UNIDAD" #ID_TIPO_UNIDAD = "ngModel"  [(ngModel)] = "tipo_academicaService.selectedTipo.ID_TIPO_UNIDAD">
                <div class="row">
                  <div class="input-field col s10">
                    <input type="text" matInput id="ng"  name="nombre" #nombre="ngModel" [(ngModel)]= "tipo_academicaService.selectedTipo.NOMBRE">
                    <label for="ng">nombre</label>
                    </div>
                </div>
    

                <button mat-raised-button color="primary" class="upeu">Guardar</button>
              
            </form>
            
          </div>
        </div>
    </div>
    <div class="col s5">
      <table  class="mat-elevation-z2">
        <thead>
          <th>ID</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Editar</th>
          <th>Eliminar</th>
      
      
        </thead>
        <tbody>
         <tr *ngFor= "let i of tipo_academicaService.tipos"> 
          <td>{{i.ID_TIPO_UNIDAD}}</td>
          <td>{{i.NOMBRE}}</td>
          <td>{{i.ESTADO}}</td>
        
      
          <td>
            <a (click) = "editTipos(i)">
             <mat-icon color="red" >edit</mat-icon>
            </a>

          </td>
          <td>
            <a (click) = "deleteTipo(i.ID_TIPO_UNIDAD)">
              <mat-icon color="primary" >delete</mat-icon>
             </a>
            </td>
         </tr>
        
        </tbody>
      
      </table>


    </div>
  </div>







</div>















  