

<link rel="stylesheet" href="app.component.css">

<mat-toolbar class="upeu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text">Tipo de Unidad Academica</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <a mat-button routerLink="/listar">
        <mat-icon>settings</mat-icon>
      </a>    
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    </button>
  </mat-toolbar>

<!-- Compiled and minified CSS -->

<app-tipo-academica></app-tipo-academica>
<router-outlet></router-outlet>